{% load static %}
<div class="row">
                <div class="col-2">
                    <h1>Upgrade Your Tech <br> Game Today!</h1>
                    <p>Style meets performance. Empower your gadgets with accessories that <br> keep you connected, protected, and ahead of the curve.</p>

                    <a href="{% url 'list_product' %}" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="{% static 'images/image55.jpg' %}">
                </div>
</div>